.button {
    -fx-background-color: #aec6a9; /* Green */
    -fx-font-weight: bold;
}

.body {
    -fx-spacing: 10px;
    -fx-min-width: 350px;
    -fx-max-width: 350px;
    -fx-background-color:  #f0f0f0;
    -fx-padding: 10;
    -fx-font-family: "Roboto Light";

}
.background {
    -fx-spacing: 10px;
    -fx-background-color: #aec6a9;
    -fx-alignment: TOP_CENTER;
    -fx-padding: 10;
}
.outerBox {
    -fx-background-color:  #f0f0f0;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-border-width: 1px;
    -fx-border-color: #92b58a;
    -fx-font-family: "Roboto Light";
    -fx-alignment: CENTER;
}
.boxes {
    -fx-background-color:  #f0f0f0;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-border-width: 1px;
    -fx-border-color: #92b58a;
    -fx-font-family: "Roboto Light";
    -fx-alignment: CENTER;
}
.boxes .label {
    -fx-min-width: 80;
    -fx-font-family: Corbel;
    -fx-font-size: 14px;
}
.table-view .filler{
    -fx-background-color: #92b58a;
}
.table-view .column-header{
    -fx-background-color: #92b58a;
}
.table-view {
    -fx-max-width: 400px;
}
.header {
    -fx-background-color:  #f0f0f0;
    -fx-alignment: CENTER;
    -fx-text-fill: #779c6b;
    -fx-font-size: 20;
}
.image-view {
    -fx-max-width: 50px;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
.hboxes {
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}
.hboxes .label {
    -fx-min-width: 150;
}
.swishButton{
    -fx-background-color: white;
    -fx-background-image: url("images/swish.jpg");
    -fx-min-width: 150;
    -fx-min-height: 100;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.cardButton{
    -fx-background-color: white;
    -fx-background-image: url("images/card2.png");
    -fx-min-width: 150;
    -fx-min-height: 100;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.cardButton:hover {
    -fx-border-width: 2px;
    -fx-border-color: #aec6a9;
}
.swishButton:hover{
    -fx-border-width: 2px;
    -fx-border-color: #aec6a9;
}
.body .choice-box {
    -fx-border-width: 2px;
    -fx-border-color: #aec6a9;
}
.body .text-field {
    -fx-border-width: 2px;
    -fx-border-color: #aec6a9;
}
.table-row-cell:even{
    -fx-background-color: #f0f0f0;
}
.table-row-cell:odd{
    -fx-background-color:  #d6e2cf;
}