<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0 //EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Konfiguration mot databas -->
        <property name = "connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name = "connection.url">jdbc:mysql://localhost/sakila?serverTimezone=UTC</property>
        <property name = "dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name = "connection.username">root</property> <!--Kolla så att username & password är rätt mot databasen-->
        <property name = "connection.password">Mdcryku1!</property>
        <property name = "connection.pool_size">3</property>
        <property name = "current_session_context_class">thread</property>
        <property name = "show_sql">true</property>
        <property name = "format_sql">false</property>
        <property name = "hbm2ddl.auto">update</property>

        <!--Vilka tabeller som ska mappas mot motsvarande tabell i databasen-->
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Actor"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.City"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Country"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Address"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Customer"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Film"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Store"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Inventory"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Language"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Rental"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Category"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Payment"/>
        <mapping class="org.dreamteam.wigellsmoviesstore.Entitys.Staff"/>


    </session-factory>
</hibernate-configuration>